.catalog-filter__select {
    font-family: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    height: 36px;
    padding-left: 16px;
    padding-right: 60px;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.808.195a.667.667 0 0 0-.943.943l4.66 4.66a.665.665 0 0 0 .955 0l4.661-4.66A.667.667 0 0 0 10.2.195L6.003 4.39 1.808.195Z' fill='%232D3440'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    transition: .2s ease-in-out;
    transition-property: background-color;
}

.catalog-filter__select:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.catalog-filter__select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FCFCFC;
}
