.social__link {
    width: 24px;
    height: 24px;
    color: #FCFCFC;
    border: 2px solid rgba(252, 252, 252, 0.2);
    border-radius: 50%;
    transition: .2s ease-in-out;
    transition-property: background-color,border-color;
}

.social__link:hover .social__icon {
    background-color: #2D3440;
}

.social__link:focus-visible {
    background-color: #2D3440;
    outline: none;
}