.hero-slider__item--active {
    min-width: 312px;
    opacity: 1;   
    cursor: auto;
    margin-right: auto;
    margin-left: 0;
}

.hero-slider__item--active::after {
    width: 312px;
    height: 312px;
}