.promo-item {
    display: inline-block;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 16px;
    background-color: #FF7799;
    position: relative;
}


.promo-item:first-child {
    background-image: url(../../images/promo-malinka.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) bottom;
}

.promo-item:last-child {
    background-image: url(../../images/promo-marshmellou.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) bottom;
}