.button--transparent {
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 4px #FCFCFC;
}
.button--transparent:hover {
    color: #2D3440;
    background-color: #FCFCFC;
    box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.3);
}
.button--transparent:focus-visible {
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 2px #2D3440;
    outline: none;
}
.button--transparent:disabled {
    opacity: 0.4;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 4px #FCFCFC;
    cursor: auto;
}
