.header-nav__link {
    display: inline-block;
    color: #2D3440;
    font-size: 16px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 26px;
    box-sizing: border-box;
    text-decoration: none;
    transition: .1s ease-in-out;
    transition-property: background-color;
}
.header-nav__link:hover {
    background-color: rgba(252, 252, 252, 0.5);
}
.header-nav__link:focus {
    outline: 2px solid #2D3440;
    outline-offset: -2px;;
    background-color: rgba(252, 252, 252, 0.5);
}
.header-nav__link:active {
    background-color: #FCFCFC;
}