/* Base */
@import url(../fonts/inter.css);

/* Page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/--pink/page--pink.css);


/* Main */
@import url(../blocks/main/__header/main__header.css);
@import url(../blocks/main/__heading/main__heading.css);


/* Catalog */
@import url(../blocks/catalog/catalog.css);


/* Header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__grid/header__grid.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__phone/header__phone.css);

@import url(../blocks/header-nav/header-nav.css);
@import url(../blocks/header-nav/__list/header-nav__list.css);
@import url(../blocks/header-nav/__link/header-nav__link.css);
@import url(../blocks/header-nav/__link/--active/header-nav__link--active.css);

@import url(../blocks/header-bar/header-bar.css);
@import url(../blocks/header-bar/__item/header-bar__item.css);
@import url(../blocks/header-bar/__link/header-bar__link.css);
@import url(../blocks/header-bar/__search/header-bar__search.css);
@import url(../blocks/header-bar/__login/header-bar__login.css);
@import url(../blocks/header-bar/__cart/header-bar__cart.css);
@import url(../blocks/header-bar/__cart/--active/header-bar__cart--active.css);



/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__grid/footer__grid.css);

@import url(../blocks/footer-nav/footer-nav.css);
@import url(../blocks/footer-nav/__list/footer-nav__list.css);
@import url(../blocks/footer-nav/__item/footer-nav__item.css);
@import url(../blocks/footer-nav/__link/footer-nav__link.css);
@import url(../blocks/footer-nav/__link/--heart/footer-nav__link--heart.css);

@import url(../blocks/copyright/copyright.css);
@import url(../blocks/copyright/__text/copyright__text.css);



/* Components */
@import url(../blocks/container/container.css);

@import url(../blocks/breadcrumb/breadcrumb.css);
@import url(../blocks/breadcrumb/__item/breadcrumb__item.css);
@import url(../blocks/breadcrumb/__link/breadcrumb__link.css);
@import url(../blocks/breadcrumb/__current/breadcrumb__current.css);

@import url(../blocks/button/button.css);

@import url(../blocks/social/social.css);
@import url(../blocks/social/__link/social__link.css);
@import url(../blocks/social/__icon/social__icon.css);

@import url(../blocks/goods/goods.css);
@import url(../blocks/goods-item/goods-item.css);
@import url(../blocks/goods-item/__img/goods-item__img.css);
@import url(../blocks/goods-item/__heading/goods-item__heading.css);
@import url(../blocks/goods-item/__text/goods-item__text.css);
@import url(../blocks/goods-item/__footer/goods-item__footer.css);
@import url(../blocks/goods-item/__price/goods-item__price.css);
@import url(../blocks/goods-item/__cart/goods-item__cart.css);

@import url(../blocks/input/input.css);
@import url(../blocks/label/label.css);


/* Utility */
@import url(../blocks/visually-hidden/visually-hidden.css);