/* Base */
@import url(../fonts/inter.css);

/* Page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/--pink/page--pink.css);


/* Header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__grid/header__grid.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__phone/header__phone.css);

@import url(../blocks/header-nav/header-nav.css);
@import url(../blocks/header-nav/__list/header-nav__list.css);
@import url(../blocks/header-nav/__link/header-nav__link.css);
@import url(../blocks/header-nav/__link/--active/header-nav__link--active.css);

@import url(../blocks/header-bar/header-bar.css);
@import url(../blocks/header-bar/__item/header-bar__item.css);
@import url(../blocks/header-bar/__link/header-bar__link.css);
@import url(../blocks/header-bar/__search/header-bar__search.css);
@import url(../blocks/header-bar/__login/header-bar__login.css);
@import url(../blocks/header-bar/__cart/header-bar__cart.css);
@import url(../blocks/header-bar/__cart/--active/header-bar__cart--active.css);


/* Hero */
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__grid/hero__grid.css);
@import url(../blocks/hero/__dotnav/hero__dotnav.css);
@import url(../blocks/hero/__social/hero__social.css);


@import url(../blocks/hero-content/hero-content.css);
@import url(../blocks/hero-content/__item/hero-content__item.css);
@import url(../blocks/hero-content/__item/--active/hero-content__item--active.css);
@import url(../blocks/hero-content/__heading/hero-content__heading.css);
@import url(../blocks/hero-content/__text/hero-content__text.css);

@import url(../blocks/hero-slider/hero-slider.css);
@import url(../blocks/hero-slider/__list/hero-slider__list.css);
@import url(../blocks/hero-slider/__item/hero-slider__item.css);
@import url(../blocks/hero-slider/__item/--active/hero-slider__item--active.css);
@import url(../blocks/hero-slider/__img/hero-slider__img.css);
@import url(../blocks/hero-slider/__slidenav/hero-slider__slidenav.css);
@import url(../blocks/hero-slider/__slidenav/--prev/hero-slider__slidenav--prev.css);
@import url(../blocks/hero-slider/__slidenav/--next/hero-slider__slidenav--next.css);


/* Promo */
@import url(../blocks/promo/promo.css);
@import url(../blocks/promo/__heading/promo__heading.css);
@import url(../blocks/promo/__list/promo__list.css);

@import url(../blocks/promo-item/promo-item.css);
@import url(../blocks/promo-item/__heading/promo-item__heading.css);
@import url(../blocks/promo-item/__text/promo-item__text.css);


/* Popular */
@import url(../blocks/popular/popular.css);
@import url(../blocks/popular/__heading/popular__heading.css);

/* About */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__wrap/about__wrap.css);
@import url(../blocks/about/__box/about__box.css);
@import url(../blocks/about/__heading/about__heading.css);
@import url(../blocks/about/__list/about__list.css);
@import url(../blocks/about/__item/about__item.css);
@import url(../blocks/about/__text/about__text.css);


/* News */
@import url(../blocks/news/news.css);
@import url(../blocks/news/__grid/news__grid.css);

@import url(../blocks/news-item/news-item.css);
@import url(../blocks/news-item/__text/news-item__text.css);
@import url(../blocks/news-item/__heading/news-item__heading.css);

@import url(../blocks/subscription/subscription.css);
@import url(../blocks/subscription/__box/subscription__box.css);
@import url(../blocks/subscription/__text/subscription__text.css);
@import url(../blocks/subscription/__form/subscription__form.css);
@import url(../blocks/subscription/__input/subscription__input.css);


/* Delivery */
@import url(../blocks/delivery/delivery.css);
@import url(../blocks/delivery/__wrap/delivery__wrap.css);
@import url(../blocks/delivery/__content/delivery__content.css);
@import url(../blocks/delivery/__heading/delivery__heading.css);
@import url(../blocks/delivery/__text/delivery__text.css);

@import url(../blocks/delivery-form/delivery-form.css);
@import url(../blocks/delivery-form/__text/delivery-form__text.css);
@import url(../blocks/delivery-form/__row/delivery-form__row.css);
@import url(../blocks/delivery-form/__date/delivery-form__date.css);
@import url(../blocks/delivery-form/__phone/delivery-form__phone.css);
@import url(../blocks/delivery-form/__address/delivery-form__address.css);
@import url(../blocks/delivery-form/__button/delivery-form__button.css);


/* Contacts */
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__wrap/contacts__wrap.css);
@import url(../blocks/contacts/__box/contacts__box.css);
@import url(../blocks/contacts/__address/contacts__address.css);
@import url(../blocks/contacts/__phone/contacts__phone.css);
@import url(../blocks/contacts/__text/contacts__text.css);
@import url(../blocks/contacts/__button/contacts__button.css);


/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__grid/footer__grid.css);

@import url(../blocks/footer-nav/footer-nav.css);
@import url(../blocks/footer-nav/__list/footer-nav__list.css);
@import url(../blocks/footer-nav/__item/footer-nav__item.css);
@import url(../blocks/footer-nav/__link/footer-nav__link.css);
@import url(../blocks/footer-nav/__link/--heart/footer-nav__link--heart.css);

@import url(../blocks/copyright/copyright.css);
@import url(../blocks/copyright/__text/copyright__text.css);


/* Components */
@import url(../blocks/container/container.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/--white/button--white.css);
@import url(../blocks/button/--pink/button--pink.css);

@import url(../blocks/slidenav/slidenav.css);

@import url(../blocks/dotnav/dotnav.css);
@import url(../blocks/dotnav/__item/dotnav__item.css);
@import url(../blocks/dotnav/__item/--active/dotnav__item--active.css);
@import url(../blocks/dotnav/__link/dotnav__link.css);

@import url(../blocks/social/social.css);
@import url(../blocks/social/__item/social__item.css);
@import url(../blocks/social/__link/social__link.css);
@import url(../blocks/social/__icon/social__icon.css);

@import url(../blocks/goods/goods.css);
@import url(../blocks/goods-item/goods-item.css);
@import url(../blocks/goods-item/__img/goods-item__img.css);
@import url(../blocks/goods-item/__heading/goods-item__heading.css);
@import url(../blocks/goods-item/__text/goods-item__text.css);
@import url(../blocks/goods-item/__footer/goods-item__footer.css);
@import url(../blocks/goods-item/__price/goods-item__price.css);
@import url(../blocks/goods-item/__cart/goods-item__cart.css);

@import url(../blocks/input/input.css);
@import url(../blocks/label/label.css);


/* Utility */
@import url(../blocks/visually-hidden/visually-hidden.css);