@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/inter/Inter-Black.woff2") format("woff2"),
    url("../fonts/inter/Inter-Black.woff") format("woff");
}

html {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #2D3440;
}

:focus, :focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: -1px;
}
:focus:not(:focus-visible) {
  outline: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.page--pink {
  background: #FEAFC3;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}


/* Button */
.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 44px;
  font-weight: 700;
  padding: 0 32px;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  transition: .1s ease-in-out;
  transition-property: color,background-color,box-shadow;
}

/* Button white */
.button--white {
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45, 52, 64, 0.1);
}
.button--white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC, 0px 4px 15px rgba(133, 133, 133, 0.15);
}
.button--white:focus, .button--white:active {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440, 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}
.button--white:disabled {
  color: #B9B9B9;
  background-color: #E7E7E7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  cursor: not-allowed;
}

/* Button pink */
.button--pink {
  color: #FCFCFC;
  background-color: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), 0 4px 12px rgba(45, 52, 64, 0.1);
}
.button--pink:hover {
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 0 0 4px #FF2F64, 0px 4px 15px rgba(133, 133, 133, 0.15);
}
.button--pink:focus, .button--pink:active {
  color: #FCFCFC;
  background-color: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440, 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}
.button--pink:disabled {
  color: #565C66;
  background-color: #B9B9B9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
  cursor: not-allowed;
}

/* Radio */
.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.radio__box {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -23px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.002 1.333H8a6.666 6.666 0 0 0-.002 13.333H8a6.666 6.666 0 0 0 .002-13.333Zm0 14.666H8A8 8 0 1 1 7.995 0a8 8 0 0 1 .007 16Z' fill='%232D3440'/%3E%3C/svg%3E");
}
.radio__input:checked + .radio__box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.667 8A6.667 6.667 0 1 1 1.333 8a6.667 6.667 0 0 1 13.334 0ZM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z' fill='%232D3440'/%3E%3C/svg%3E");
}
.radio__input:disabled + .radio__box {
  opacity: .4;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.002 1.333H8a6.666 6.666 0 0 0-.002 13.333H8a6.666 6.666 0 0 0 .002-13.333Zm0 14.666H8A8 8 0 1 1 7.995 0a8 8 0 0 1 .007 16Z' fill='%232D3440'/%3E%3C/svg%3E");
}
.radio__input:checked:disabled + .radio__box {
  opacity: .4;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.667 8A6.667 6.667 0 1 1 1.333 8a6.667 6.667 0 0 1 13.334 0ZM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z' fill='%232D3440'/%3E%3C/svg%3E");
}
.radio__input:focus + .radio__box {
  outline: 2px solid #2D3440;
  outline-offset: -1px;
}
.radio__input:not(:focus-visible) + .radio__box {
  outline: 0;
}

/* Checkbox */
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.check__box {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -23px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.3 1.333h-.004a.963.963 0 0 0-.963.963v11.406a.963.963 0 0 0 .963.963h11.406a.963.963 0 0 0 .964-.997V2.296a.91.91 0 0 0-.282-.68c-.156-.156-.229-.205-.286-.23-.055-.024-.153-.053-.395-.053H2.3Zm13.539 13.21a2.297 2.297 0 0 1-2.137 1.455H2.296A2.296 2.296 0 0 1 0 13.702V2.296A2.296 2.296 0 0 1 1.458.158.664.664 0 0 1 1.89 0h11.813c.337 0 .643.038.934.166.287.127.5.318.69.507.481.481.672 1.057.672 1.623V14.11c0 .166-.06.318-.16.434Z' fill='%232D3440'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.615 1.615a.962.962 0 0 1 .68-.282h8.96a.667.667 0 1 0 0-1.333h-8.96A2.295 2.295 0 0 0 0 2.296v11.407A2.297 2.297 0 0 0 2.296 16h11.402a2.295 2.295 0 0 0 2.295-2.296V8a.667.667 0 1 0-1.333 0v5.703a.963.963 0 0 1-.962.963H2.296a.962.962 0 0 1-.963-.963V2.296c0-.255.102-.5.282-.68Zm14.202.325a.667.667 0 1 0-.968-.917L7.614 8.66 5.782 6.727a.667.667 0 0 0-.968.917l2.316 2.444a.667.667 0 0 0 .968 0l7.719-8.148Z' fill='%232D3440'/%3E%3C/svg%3E");
}
.check__input:disabled + .check__box {
  opacity: .4;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.3 1.333h-.004a.963.963 0 0 0-.963.963v11.406a.963.963 0 0 0 .963.963h11.406a.963.963 0 0 0 .964-.997V2.296a.91.91 0 0 0-.282-.68c-.156-.156-.229-.205-.286-.23-.055-.024-.153-.053-.395-.053H2.3Zm13.539 13.21a2.297 2.297 0 0 1-2.137 1.455H2.296A2.296 2.296 0 0 1 0 13.702V2.296A2.296 2.296 0 0 1 1.458.158.664.664 0 0 1 1.89 0h11.813c.337 0 .643.038.934.166.287.127.5.318.69.507.481.481.672 1.057.672 1.623V14.11c0 .166-.06.318-.16.434Z' fill='%232D3440'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.check__input:checked:disabled + .check__box {
  opacity: .4;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.615 1.615a.962.962 0 0 1 .68-.282h8.96a.667.667 0 1 0 0-1.333h-8.96A2.295 2.295 0 0 0 0 2.296v11.407A2.297 2.297 0 0 0 2.296 16h11.402a2.295 2.295 0 0 0 2.295-2.296V8a.667.667 0 1 0-1.333 0v5.703a.963.963 0 0 1-.962.963H2.296a.962.962 0 0 1-.963-.963V2.296c0-.255.102-.5.282-.68Zm14.202.325a.667.667 0 1 0-.968-.917L7.614 8.66 5.782 6.727a.667.667 0 0 0-.968.917l2.316 2.444a.667.667 0 0 0 .968 0l7.719-8.148Z' fill='%232D3440'/%3E%3C/svg%3E");
}
.check__input:focus + .check__box {
  outline: 2px solid #2D3440;
  outline-offset: -1px;
}
.check__input:not(:focus-visible) + .check__box {
  outline: 0;
}

/* Container */
.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}


/* Input */
.input {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: 48px;
  padding: 0 16px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border
}
.input:hover {
  border-color: #2D3440;
}
.input:focus-visible {
  box-shadow: 0 0 0 1px #2D3440;
  border-color: #2D3440;
  outline: none;
}
.input::-ms-input-placeholder {
  color: #B9B9B9;
}
.input::placeholder {
  color: #B9B9B9;
}
.input::-ms-input-placeholder {
  color: #B9B9B9;
}


/* Label */
.label {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 8px;
}

.label__info {
  border: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  background: transparent;
  margin-left: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 2.125a4.875 4.875 0 1 0 0 9.75 4.875 4.875 0 0 0 0-9.75ZM.792 7a6.209 6.209 0 1 1 12.417 0A6.209 6.209 0 0 1 .792 7ZM7 6.333c.368 0 .667.299.667.667v2.217a.667.667 0 0 1-1.334 0V7c0-.368.299-.667.667-.667Zm0-2.216A.667.667 0 1 0 7 5.45h.006a.667.667 0 0 0 0-1.333H7Z' fill='%232D3440'/%3E%3C/svg%3E");
}

.field-group {
  margin: 0;
}



/* Slidenav */
.slidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: #FCFCFC;
  box-sizing: border-box;
  border: 2px solid #FCFCFC;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  transition: .1s ease-in-out;
  transition-property: background-color, color;
}
.slidenav:hover {
  background-color: #FCFCFC;
  color: #2D3440;
}
.slidenav:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  color: #2D3440;
}


/* Dotnav */
.dotnav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.dotnav__item {
  line-height: 1;
}
.dotnav__item:not(:last-child) {
  margin-right: 8px;
}
.dotnav__item--active .dotnav__link {
  background-color: #FCFCFC;
}
.dotnav__item--active .dotnav__link:hover {
  background-color: #FCFCFC;
}
.dotnav__link {
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid rgba(252, 252, 252, 0.3);
  background-color: rgba(252, 252, 252, 0.3);
  transition: .1s ease-in-out;
  transition-property: background-color,border-color;
}
.dotnav__link:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #FCFCFC;
}
.dotnav__link:focus-visible {
  outline: none;
  border-color: #2D3440;
}

/* Pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.pagination__item {
  line-height: 1;
}
.pagination__item:first-child {
  margin-right: 13px;
}
.pagination__item:last-child {
  margin-left: 15px;
}
.pagination__link {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  line-height: 24px;
  height: 24px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  color: #2D3440;
  transition: .1s ease-in-out;
  transition-property: background-color, box-shadow;
}
.pagination__link:hover {
  box-shadow: 0 0 0 1px inset #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
}
.pagination__link:focus {
  box-shadow: 0 0 0 1px inset #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: none;
}
.pagination__item--active .pagination__link {
  background-color: #FCFCFC;
  cursor: default;
}
.pagination__prev {
  /* margin-right: 10px; */
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.803 1.805a.665.665 0 1 0-.94-.94L.195 5.533a.665.665 0 0 0 0 .941l4.669 4.668a.665.665 0 1 0 .94-.94L1.605 6.003l4.198-4.198Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.pagination__next {
  /* margin-left: 10px; */
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.135.865a.665.665 0 1 0-.94.94l4.201 4.201-4.201 4.202a.665.665 0 0 0 .94.94L5.804 6.48a.665.665 0 0 0 .003-.943L1.135.865Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.pagination__item--disabled {
  opacity: .2;
}
.pagination__item--disabled .pagination__link {
  background-color: transparent;
  box-shadow: none;
  cursor: default;
}



/* Social */
.social {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-content: start;
  column-gap: 11px;
}
.social__link {
  width: 24px;
  height: 24px;
  color: #FCFCFC;
  border: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .1s ease-in-out;
  transition-property: border-color;
  position: relative;
}
.social__link::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
  transition: .1s ease-in-out;
  transition-property: background-color;
}
.social__link:hover::before {
  background-color: #2D3440;
}
.social__link:hover {
  border-color: #2D3440;
}
.social__link:focus, .social__link:active {
  border-color: #2D3440;
  outline: none;
}
.social__link:focus::before, .social__link:active::before {
  background-color: #2D3440;
}
.social__link--vk {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12Zm-11.412 2.975h-.717s-1.582.083-2.976-1.188c-1.52-1.388-2.863-4.14-2.863-4.14s-.077-.18.007-.268c.095-.098.352-.104.352-.104l1.715-.01s.161.024.277.098c.095.062.149.176.149.176s.277.615.644 1.17c.716 1.085 1.05 1.322 1.293 1.206.354-.17.248-1.533.248-1.533s.007-.496-.178-.716c-.143-.17-.414-.22-.533-.235-.096-.011.062-.207.267-.295.309-.133.854-.14 1.498-.135.501.005.645.032.842.074.455.096.44.405.41 1.07-.01.2-.02.43-.02.697 0 .06-.002.124-.004.19-.01.34-.023.73.233.876.132.074.453.011 1.256-1.185.381-.566.667-1.233.667-1.233s.062-.119.16-.17c.098-.051.232-.036.232-.036l1.805-.01s.542-.056.63.158c.091.226-.203.751-.94 1.612-.696.813-1.036 1.115-1.01 1.38.02.196.242.372.67.72.888.722 1.124 1.101 1.18 1.192a.447.447 0 0 0 .011.016c.398.578-.44.623-.44.623l-1.603.02s-.345.06-.798-.214c-.237-.142-.469-.375-.69-.597-.337-.339-.649-.652-.915-.578-.447.124-.433.967-.433.967s.004.18-.098.277c-.11.104-.328.125-.328.125Z' fill='%23FCFCFC'/%3E%3C/svg%3E");}
.social__link--fb {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12Zm-9.571.9H13V18h-2.286v-5.1H9v-2.4h1.714V8.82c0-1.826 1.102-2.82 2.653-2.82.743 0 1.447.058 1.633.084V8.1h-.857C13 8.1 13 8.682 13 9.3v1.2h2l-.571 2.4Z' fill='%23FCFCFC'/%3E%3C/svg%3E");}
.social__link--inst {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12Zm-9.527-5.964C13.833 6.006 13.63 6 12 6s-1.834.008-2.473.036c-.64.03-1.074.13-1.457.279-.4.15-.763.387-1.063.692-.306.3-.542.662-.692 1.063-.149.383-.249.817-.279 1.457C6.006 10.167 6 10.37 6 12s.008 1.834.036 2.473c.03.64.13 1.075.279 1.457.15.4.387.763.692 1.063.3.306.662.542 1.063.692.383.148.818.249 1.457.279.64.03.843.036 2.473.036s1.834-.008 2.473-.036c.64-.03 1.075-.13 1.457-.279.4-.15.763-.387 1.063-.692.306-.3.542-.662.692-1.063.148-.383.249-.818.279-1.457.03-.64.036-.843.036-2.473s-.008-1.834-.036-2.473c-.03-.64-.13-1.075-.279-1.457-.15-.4-.387-.763-.692-1.063a2.925 2.925 0 0 0-1.063-.692c-.383-.149-.818-.249-1.457-.279ZM9.88 9.879a3 3 0 1 1 4.242 4.243A3 3 0 0 1 9.88 9.879Zm5.801-1.56a.75.75 0 1 1-1.06 1.061.75.75 0 0 1 1.06-1.06Zm-2.407 2.408a1.8 1.8 0 1 0-2.546 2.546 1.8 1.8 0 0 0 2.546-2.546Z' fill='%23FCFCFC'/%3E%3C/svg%3E");}


/* Breadcrum */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #2D3440;
}
.breadcrumb__item {
  display: contents;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
}
.breadcrumb__item:not(:first-child)::before {
  content: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.354.146a.5.5 0 1 0-.708.708L2.793 3 .646 5.146a.5.5 0 1 0 .708.708l2.5-2.5a.5.5 0 0 0 0-.708l-2.5-2.5Zm3.5 0a.5.5 0 1 0-.708.708L6.293 3 4.146 5.146a.5.5 0 1 0 .708.708l2.5-2.5a.5.5 0 0 0 0-.708l-2.5-2.5Z' fill='%232D3440'/%3E%3C/svg%3E");
  display: inline-block;
  margin: 0 8px 0 8px;
}
.breadcrumb__link {
  display: inline-block;
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}



/* Goods */
.goods {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 90px;
}
.goods-item {
  display: flex;
  flex-direction: column;
  padding: 0 40px 22px 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
  align-items: center;
  text-align: center;
}
.goods-item__img {
  margin-top: -50px;
  border-radius: 50%;
}
.goods-item__heading {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.goods-item__text {
  margin-top: 0;
  margin-bottom: 18px;
  color: #565C66;
}
.goods-item__footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}
.goods-item__price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.goods-item__cart {
  padding: 0;
  border: 2px solid #FF2F64;
  border-radius: 50%;
  background-color: #FF2F64;
  color: #FCFCFC;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.167.25a.667.667 0 1 0 0 1.333h1.77l.468 2.336a.664.664 0 0 0 .011.053l.967 4.833a1.826 1.826 0 0 0 1.819 1.47h5.62a1.826 1.826 0 0 0 1.819-1.47l.001-.005.927-4.861a.667.667 0 0 0-.655-.792H4.611L4.138.786A.667.667 0 0 0 3.484.25H1.167ZM5.69 8.544 4.878 4.48h8.23l-.775 4.067a.492.492 0 0 1-.492.395H6.183a.492.492 0 0 1-.492-.397Zm-1.134 3.961a1.246 1.246 0 1 1 2.492 0 1.246 1.246 0 0 1-2.492 0Zm6.374 0a1.246 1.246 0 1 1 2.491 0 1.246 1.246 0 0 1-2.491 0Z' fill='%23FCFCFC'/%3E%3C/svg%3E");  background-position: center;
  background-repeat: no-repeat;
  transition: .1s ease-in-out;
  transition-property: color,background-color;
  cursor: pointer;
}
.goods-item__cart:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.167.25a.667.667 0 1 0 0 1.333h1.77l.468 2.336a.664.664 0 0 0 .011.053l.967 4.833a1.826 1.826 0 0 0 1.819 1.47h5.62a1.826 1.826 0 0 0 1.819-1.47l.001-.005.927-4.861a.667.667 0 0 0-.655-.792H4.611L4.138.786A.667.667 0 0 0 3.484.25H1.167ZM5.69 8.544 4.878 4.48h8.23l-.775 4.067a.492.492 0 0 1-.492.395H6.183a.492.492 0 0 1-.492-.397Zm-1.134 3.961a1.246 1.246 0 1 1 2.492 0 1.246 1.246 0 0 1-2.492 0Zm6.374 0a1.246 1.246 0 1 1 2.491 0 1.246 1.246 0 0 1-2.491 0Z' fill='%232D3440'/%3E%3C/svg%3E");}
.goods-item__cart:focus-visible {
  border-color: #2D3440;
  outline: none;
}
.goods-item__cart:disabled {
  color: #565C66;
  background-color: #B9B9B9;
  border-color: #B9B9B9;;
  cursor: not-allowed;
}

/* Header */
.header {
  padding: 23px 0;
}
.header__grid {
  display: flex;
  align-items: center;
}
.header__logo {
  line-height: 1;
  margin-right: 16px;
}
.header__phone {
  margin-left: auto;
  margin-right: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 1.25;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.header-nav__link {
  display: inline-block;
  color: #2D3440;
  font-size: 16px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 26px;
  box-sizing: border-box;
  text-decoration: none;
  transition: .1s ease-in-out;
  transition-property: background-color;
}
.header-nav__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}
.header-nav__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  /* box-shadow: 0 0 0 2px #2D3440; */
  color: #2D3440;
  /* outline: none;   */
}
.header-nav__link:active {
  background-color: #FCFCFC;
  box-shadow: none;
  outline: none;
}
.header-nav__link--active {
  background: #FF4A78;
  color: #FCFCFC;
}
.header-nav__link--active:hover {
  background: #FF4A78;
}
.header-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-bar__item {
  line-height: 1;
  position: relative;
}
.header-bar__item:not(:last-child) {
  margin-right: 16px;
}
.header-bar__link {
  display: inline-block;
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 32px;
  background: rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
  transition: .1s ease-in-out;
  transition-property: background-color;
}
.header-bar__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}
.header-bar__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440;
  color: #2D3440;
  outline: none;
}
.header-bar__link:active {
  background-color: #FCFCFC;
  box-shadow: none;
  outline: none;
}
.header-bar__search {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.913 7.246a5.333 5.333 0 1 1 9.17 3.705.677.677 0 0 0-.132.132 5.333 5.333 0 0 1-9.038-3.837Zm9.552 5.162a6.667 6.667 0 1 1 .943-.943l2.81 2.81a.667.667 0 1 1-.943.943l-2.81-2.81Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.header-bar__login {
  border-radius: 26px;
  padding-left: 40px;
  padding-right: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.208.875c0-.368.299-.667.667-.667h3a2.167 2.167 0 0 1 2.167 2.167v10.5a2.167 2.167 0 0 1-2.167 2.167h-3a.667.667 0 0 1 0-1.334h3a.834.834 0 0 0 .833-.833v-10.5a.833.833 0 0 0-.833-.833h-3a.667.667 0 0 1-.667-.667ZM5.654 3.404c.26-.26.682-.26.942 0l3.746 3.745a.664.664 0 0 1 0 .952l-3.746 3.745a.667.667 0 0 1-.942-.942l2.612-2.612H.875a.667.667 0 1 1 0-1.334h7.39L5.655 4.346a.667.667 0 0 1 0-.942Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 16px center;
}
.header-bar__cart {
  border-radius: 26px;
  padding-left: 40px;
  padding-right: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.313.49a.667.667 0 1 0 0 1.333h2.06l.54 2.696a.662.662 0 0 0 .011.056l1.09 5.44a1.97 1.97 0 0 0 1.962 1.586h6.325a1.97 1.97 0 0 0 1.963-1.586l.001-.005 1.043-5.47a.667.667 0 0 0-.655-.791H5.12l-.545-2.724A.667.667 0 0 0 3.92.49H1.313ZM6.32 9.754l-.935-4.672h9.462l-.892 4.675a.637.637 0 0 1-.636.51H6.958a.637.637 0 0 1-.637-.512v-.001Zm-1.11 4.44a1.318 1.318 0 1 1 2.636 0 1.318 1.318 0 0 1-2.637 0Zm7.17 0a1.318 1.318 0 1 1 2.635 0 1.318 1.318 0 0 1-2.636 0Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 16px center;
}
.header-bar__cart--active {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.646 1.156c0-.368.298-.666.667-.666H3.92c.318 0 .591.224.654.535l.545 2.724h10.535a.667.667 0 0 1 .654.791l-1.043 5.47v.005A1.97 1.97 0 0 1 13.3 11.6H6.976a1.97 1.97 0 0 1-1.963-1.586l-1.089-5.44a.663.663 0 0 1-.01-.056l-.54-2.696H1.313a.667.667 0 0 1-.667-.667Zm5.883 11.72a1.318 1.318 0 1 0 0 2.636 1.318 1.318 0 0 0 0-2.636Zm7.17 0a1.318 1.318 0 1 0 0 2.636 1.318 1.318 0 0 0 0-2.636Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-color: #FCFCFC;
}
.header-bar__cart--active:hover {
  background-color: #FCFCFC;
}
.header-bar__cart--active:focus, .header-bar__cart--active:active {
  background-color: #FCFCFC;
}

/* Popover */
.popover {
  position: absolute;
  top: 40px;
  right: 0;
  box-sizing: border-box;
  color: #242424;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  z-index: 10;
  display: none;
}
.popover--open {
  display: block;
}
.popover-search {
  padding: 24px 16px;
  width: 356px;
}
.popover-login {
  width: 420px;
  padding: 50px;
}
.popover-login__heading {
  margin-top: 0;
  margin-bottom: 32px;
}
.popover-login__form {
  display: grid;
  grid-template-columns: 113px 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 23px;
}
.popover-login__input {
  grid-column: 1 / 3;
}
.popover-login__input:first-of-type {
  margin-bottom: 16px;
}
.popover-login__input:last-of-type {
  margin-bottom: 32px;
}
.popover-login__button {
  grid-row: 3 / 5;
}
.popover-login__link {
  justify-self: start;
  align-self: center;
  font-size: 14px;
  line-height: 1.4;
  color: #2D3440;
  text-decoration: none;
  color: #2D3440;
  border-bottom: 1px solid #2D3440
}

/* Main */
.main__header {
  padding-top: 30px;
  padding-bottom: 20px;
}
.main__heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.43;
  margin-top: 16px;
  margin-bottom: 0;
}


/* Hero */
.hero {
  padding-top: 20px;
  padding-bottom: 23px;
}
.hero__grid {
  display: flex;
  align-items: center;
  position: relative;
}
.hero__dotnav {
  position: absolute;
  bottom: -25px;
  left: 0;
}
.hero__social {
  position: absolute;
  bottom: -25px;
  right: 0;
}
.hero-content {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 470px;
  margin-right: 20px;
  padding-left: 70px;
}
.hero-content__item {
  display: none;
}
.hero-content__item--active {
  display: block;
}
.hero-content__heading {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-content__text {
  font-size: 18px;
  line-height: 1.333;
  max-width: 415px;
  margin-top: 0;
  margin-bottom: 48px;
}
.hero-slider {
  position: relative;
  flex: 1;
}
.hero-slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
.hero-slider__item {
  position: relative;
  opacity: .4;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  margin-left: 40px;
}

.hero-slider__item::after {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hero-slider__item--active {
  min-width: 312px;
  opacity: 1;
  cursor: auto;
  margin-right: auto;
  margin-left: 0;
}

.hero-slider__item--active::after {
  width: 312px;
  height: 312px;
}
.hero-slider__img {
  position: relative;
  z-index: 1;
}
.hero-slider__slidenav {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.hero-slider__slidenav--prev {
  left: -20px
}
.hero-slider__slidenav--next {
  left: 295px;
}


/* Promo */
.promo {
  padding-top: 80px;
}
.promo__heading {
  text-align: center;
  max-width: 443px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.43;
  margin-bottom: 56px;
}
.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.promo-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 16px;
  background-color: #FF7799;
  position: relative;
}


.promo-item:first-child {
  background-image: url(../images/promo-malinka.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) bottom;
  padding-right: 210px;
}

.promo-item:last-child {
  background-image: url(../images/promo-marshmellou.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) bottom;
  padding-right: 230px;
}
.promo-item__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 16px;
}
.promo-item__text {
  margin-bottom: 30px;
}


/* Popular */
.popular {
  padding-top: 80px;
}
.popular__heading {
  text-align: center;
  width: 527px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.43;
  margin-bottom: 107px;
}


/* About */
.about {
  padding-top: 80px;
}
.about__wrap {
  box-sizing: border-box;
  border-radius: 16px;
  background: url(../images/bg-waffle.jpg) no-repeat center;
  background-size: cover;
  padding: 24px;
}
.about__box {
  background-color: #FCFCFC;
  border-radius: 16px;
  padding: 56px 40px;
}
.about__heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.43;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}
.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 30px;
}
.about__item {
  display: flex;
}
.about__text {
  color: #565C66;
  margin: 0;
  flex: 1;
  margin-left: 16px;
}


/* News */
.news {
  padding-top: 80px;
}
.news__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.news-item {
  box-sizing: border-box;
  padding: 32px;
  background-color: #FCFCFC;
  text-decoration: none;
  min-height: 220px;
  border-radius: 16px;
  background: url(../images/bg-news.jpg) #FCFCFC center no-repeat;
  background-size: cover;
}
.news-item__text {
  color: #565C66;
  margin-top: 0;
  margin-bottom: 12px;
}
.news-item__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #2D3440;
  margin: 0;
  max-width: 303px;
}
.subscription {
  border-radius: 16px;
  background: url(../images/bg-mailbox.jpg) no-repeat center;
  background-size: cover;
  padding: 6px;
}
.subscription__box {
  background-color: #FCFCFC;
  border-radius: 16px;
  padding: 26px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.subscription__text {
  margin-top: 0;
  margin-bottom: 42px;
  color: #565C66;
}
.subscription__form {
  margin-top: auto;
  display: flex;
}
.subscription__input {
  flex: 1;
  margin-right: 22px;
}
.subscription__button {
  align-self: center;
}


/* Delivery */
.delivery {
  padding-top: 80px;
}
.delivery__wrap {
  box-sizing: border-box;
  padding: 62px 64px 64px 100px;
  background: url(../images/bg-delivery.jpg) no-repeat center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delivery__content {
  width: 375px;
}
.delivery__heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.43;
  margin-top: 0;
  margin-bottom: 24px;
}
.delivery__text {
  color: #565C66;
  margin: 0;
}

.appointment {
  box-sizing: border-box;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
  width: 500px;
}
.appointment__text {
  color: #565C66;
  margin-top: 0;
  margin-bottom: 30px;
}
.appointment-form {
  display: grid;
  row-gap: 32px;
}
.appointment-form__grid {
  display: grid;
  grid-template-columns: 117px auto;
  gap: 20px 16px
}
.appointment-form__address {
  grid-column: 1 / -1;
}
.appointment-form__button {
  justify-self: center;
}


/* Contacts */
.contact {
  padding-top: 80px;
}
.contact__wrap {
  box-sizing: border-box;
  padding: 64px;
  background: url(../images/bg-contact.jpg) no-repeat center;
  background-size: cover;
  border-radius: 16px;
}
.contact__box {
  width: 343px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}
.contact__address {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #2D3440;
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 24px;
}
.contact__phone {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #2D3440;
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 0;
}
.contact__time {
  margin: 0;
  color: #565C66;
  font-size: 14px;
}
.contact__text {
  margin: 0;
  color: #565C66;
}
.contact__button {
  margin-top: 32px;
}


/* Catalog */
.catalog {
  padding-top: 20px;
}
.catalog__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 76px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}
.catalog__pagination {
  justify-self: end;
  grid-column-start: 3;
}
.catalog__more {
  justify-self: center;
  grid-column-start: 2;
}
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  gap: 16px 22px;
}
.catalog-filter__item {
  border: 0;
  padding: 0;
  margin-right: 0;
}
.catalog-filter__legend {
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 16px;
}
.catalog-filter__wrap {
  box-sizing: border-box;
  padding: 0 16px;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  position: relative;
}
.catalog-filter__label {
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 14px;
  cursor: pointer;
}
.catalog-filter__label:not(:last-child) {
  padding-right: 16px;
}
.catalog-filter__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  height: 36px;
  padding-left: 16px;
  padding-right: 60px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.808.195a.667.667 0 0 0-.943.943l4.66 4.66a.665.665 0 0 0 .955 0l4.661-4.66A.667.667 0 0 0 10.2.195L6.003 4.39 1.808.195Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  transition: .1s ease-in-out;
  transition-property: background-color;
}

.catalog-filter__select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog-filter__select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FCFCFC;
}
.catalog-filter__range-track {
  min-width: 160px;
  border-radius: 10px;
  border: 2px solid rgba(86, 92, 102, 0.3);
}
.catalog-filter__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  width: calc(100% - 32px);
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  pointer-events: none;
}
.catalog-filter__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  padding: 2px;
  background-color: #FCFCFC;
  border: 8px solid #2D3440;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  transition: .1s ease-in-out;
  transition-property: background-color,border-color;
}
.catalog-filter__range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  padding: 2px;
  background-color: #FCFCFC;
  border: 8px solid #2D3440;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
}
.catalog-filter__range::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  width: 0;
  padding: 2px;
  background-color: #FCFCFC;
  border: 8px solid #2D3440;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
}
.catalog-filter__range:hover::-webkit-slider-thumb {
  background-color: #2D3440;
  border-color: #FCFCFC;
}
.catalog-filter__range:active::-webkit-slider-thumb {
  background-color: #2D3440;
  border-color: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440;
}
.catalog-filter__button {
  font-size: 14px;
  line-height: 36px;
  padding: 0 53px;
  align-self: end;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #FCFCFC;
}
.catalog-filter__button:hover {
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}
.catalog-filter__button:focus, .catalog-filter__button:active {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #2D3440;
  outline: none;
}
.catalog-filter__button:disabled {
  opacity: 0.4;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #FCFCFC;
  cursor: not-allowed;
}



/* Footer */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: auto;
}
.footer__grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 40px;
}
.footer-nav {
  margin-left: 130px;
}
.footer-nav__item {
  line-height: 1;
}
.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px 24px;
}
.footer-nav__link {
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: #2D3440;
  transition: .1s ease-in-out;
  transition-property: opacity;
}
.footer-nav__link:hover {
  opacity: .7;
}
.footer-nav__link--heart {
  font-weight: 700;
  position: relative;
}

.footer-nav__link--heart::before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: -22px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.89 1.994a3.667 3.667 0 0 0-5.186 0l-.706.707-.707-.707a3.668 3.668 0 0 0-5.187 5.187l.707.707 5.187 5.187 5.186-5.187.707-.707a3.667 3.667 0 0 0 0-5.187Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.copyright {
  padding-right: 14px;
}
.copyright__text {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.333;
}
.copyright__link {
  color: #2D3440;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: rgba(45, 52, 64, 0.5);
}
.copyright__link:hover {
  opacity: .7;
}
